.span1 {
    display: inline ;
    background-color: white;
}

.row-fluid{
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
             padding-top: 10px;
}

.panel-title{
    background-color: rgba(118, 120, 120, 0.47);
    height: 30px;
    width: 383px;
    border-radius: 3px;
    margin: 20px;
    color: #1a1a1a;
    font-family: Calibri;
    font: 200;
    text-align: center;
font-weight: bold;
    position: relative;
}

.panel-body{
    background-color: rgba(118, 120, 120, 0.47);
    width: 383px;
    border-radius: 3px;
    margin: 20px;
    color: #1a1a1a;
    font-family: Calibri;
    font: 200;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.treeRow{
    display: inline-block;
}

.row-fluid{
    padding: 10px;
    width: auto;
}

.treeconteiner{

    border-radius: 5px;
    background-color: antiquewhite;
    height: 600px;
    overflow: auto;
}

body{
    background-color: antiquewhite;
}

.footer{
    text-align: center
}

.treePlace{
 overflow: auto;
}

.template{
    display: none;
}

.companySelect
{
    background-color: antiquewhite;
}

.main-conteiner{
    border-radius: 5px;
}

.top-nav{
    background-color: antiquewhite;
}

.company-select-label{
    padding-top: 15px;
}

.company-select{
    background-color: antiquewhite;
}

.treeNode{
    background-color: rgba(118, 120, 120, 0.47);
    border-radius: 3px;
    margin: 20px;
    color: #1a1a1a;
    font-family: Calibri;
    font: 200;
    text-align: center;
    font-weight: bold;
    position: relative;
    height: 29px;
    width: 174px;
    text-align: center;
}

.modal{
    display: none;
}

/*treeNode LIST*/
.treeNode { color:#eee; }
.treeNode ol { font-size:18px; }
.treeNode ol li { }
.treeNode ol li ol { list-style-image: url("../img/images/nested.png"); padding:5px 0 5px 18px; font-size:15px; }
.treeNode ol li ol li { color:#bfe1f1; height:15px; margin-left:10px; }

.toggable{
    list-style: square url('http://www.webbossuk.com/admin/images/reply-arrow.png');
    font-weight: normal;
    cursor: pointer;
}

.toggable-ul{
    list-style: square url('http://www.webbossuk.com/admin/images/reply-arrow.png');
    font-weight: normal;
    cursor: pointer;
}

ul.source, ul.target {
    min-height: 50px;
    margin: 0px 25px 10px 0px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    list-style-type: none;
    list-style-position: inside;
}
ul.source {
    border-color: #f8e0b1;
}
ul.target {
    border-color: #add38d;
}
.source li, .target li {
    margin: 2px;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.source li {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}
.target li {
    background-color: #ebf5e6;
    border: 1px solid #d6e9c6;
    color: #468847;
}
.sortable-dragging {
    border-color: #ccc !important;
    background-color: #fafafa !important;
    color: #bbb !important;
}
.sortable-placeholder {
    height: 40px;
}
.source .sortable-placeholder {
    border: 2px dashed #f8e0b1 !important;
    background-color: #fefcf5 !important;
}
.target .sortable-placeholder {
    border: 2px dashed #add38d !important;
    background-color: #f6fbf4 !important;
}



