<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept,auth-key" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <add value="Main.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <location path="" overrideMode="Deny">
        <appSettings />
    </location>
</configuration>
