<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>department template</title>
    <link rel="stylesheet" href="./css/mystyle.css">
</head>
<body>
<div class="row depinfo">

</div>

<script type="text/template" class="template">
    <% _.each( rc.listItems, function( listItem ){ %>
    <div class="row" style="background-color: deepskyblue; color: #ffffff; height: 150px; font-family: arial">
        <div class="span2">
            <img src="./img/dep2.png">
        </div>
        <div class="span6">
            <div class="row">
                <h2 style="text-align: center">Department</h2>

                <h2>
                    <%- listItem.name %>
                </h2>

                <div class="row">
                    <p>
                        <%- listItem.description %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</script>

<div id="selector">
</div>

<script src="jQery.js"></script>
<script src="underscore.js"></script>
<script src="template.js"></script>
<script src="./jstree-v.pre1.0/jquery.jstree.js"></script>

<script>
    // When rending an underscore template, we want top-level
    // variables to be referenced as part of an object. For
    // technical reasons (scope-chain search), this speeds up
    // rendering; however, more importantly, this also allows our
    // templates to look / feel more like our server-side
    // templates that use the rc (Request Context / Colletion) in
    // order to render their markup.
    _.templateSettings.variable = "rc";

    // Grab the HTML out of our template tag and pre-compile it.
    var template = _.template(
            $("script.template").html()
    );

    // Define our render data (to be put into the "rc" variable).
    var templateData = {
        listItems: [
            {
                name: "First Dep",
                description: "First Dep description"
            },
            {
                name: "Second Dep",
                description: "Second Dep description"
            },
            {
                name: "Third Dep",
                description: "Third Dep description"
            },
            {
                name: "Fourth Dep",
                description: "Fourth Dep description"
            }
        ]
    };

    // Render the underscore template and inject it after the H1
    // in our current DOM.
    $(".depinfo").append(
            template(templateData)
    );
</script>
</body>
</html>